body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.override-mde-preview.mde-preview .mde-preview-content {
  padding: 0px !important;
}

.Connect-Content--contentWrapper-270 {
  margin: 16px !important;
}

.Paperbase-mainContent-4 {
  padding-bottom: 24px !important;
}

.MuiDrawer-paper-32 {
  width: 256px;
}

.m15 {
  margin: 15px;
}

.m25 {
  margin: 25px;
}

.mt15 {
  margin-top: 15px;
}

.note-header {
  padding: 15px;
  background-color: #EFEFEF;
}

.center-items{
  display: flex;
  justify-content: center;
  align-items: center;
}
